.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}


.card-border{
  margin-top: 25px;
  border-radius: 25px; 
  box-shadow: 0 6px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s; 
}

.card-in {
  padding: 10px
}

.prestation-header{
  padding-top: 100px !important ;
  padding-bottom: 100px !important ;
}

